.list-group-item{
	box-shadow: 1px 2px 8px #e5e5e5;
	border: none;
	padding: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 16px;
}

.list-group-item:first-child{
	border-radius: 0px;
}

.list-group-item span{
	margin: 10px;
}

.list-group-item-success{
	color: #9a9a9a;
	background: white;
	text-decoration: line-through;
}

input.new-task-input{
	box-shadow: 1px 2px 8px #e5e5e5;
	border: none;
	padding: 30px 15px;
	border-radius: 0px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 20px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

button.remove-todo-button{
	border: none;
	color: #ddb9b9;
	background: white;
}

button.remove-todo-button:hover{
	border: none;
	color: #e66e6e;
	background: white;
}

button.change-todo-status-button{
	border-radius: 50%;
	background: white;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
}

button.change-todo-status-button.completed, button.change-todo-status-button:hover{
	color: #84b684;
	border: 1px solid #84b684;
	background: white;
}